<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyPetstore</title>
    <link rel="stylesheet" href="../../css/top.css" />
    <link rel="stylesheet" href="../../css/bottom.css" />
    <link rel="stylesheet" href="../../css/table.css" />
</head>
<body>
<header>
    <h1>CreativeFolk</h1>
</header>
<div id="BackLink">
    <a href="/catalog/main">Return to Main Menu</a>
</div>
<center th:text="${message}"></center>

<footer>
    <div id="foot">Central South University</div>
</footer>
</body>
</html>