@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #666;
    color: #fff;
    font-family: 'Open Sans', arial, sans-serif;
    width: 960px;
    margin: 0 auto 0 auto;
}

div#Content {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    z-index: 1000;
    color: #fff;
}

.index-footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .4);
}