/* Table styles */
table {
    margin: 0 auto;
    width: 780px;
}

table#rates {
    width: 380px;
}

th, td {
    border-radius: 3px;
    color: #333;
    padding: 7px 10px 5px 10px;
    min-width: 9em;
    text-align: left;
}

th {
    background-color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #fff;
}

table.sortable th:hover {
    cursor: pointer;
}

th.ascending, th.descending, table.sortable th:hover {
    background-color: #666666;
    color: #fff;
}

/* Arrows for table sorting */
th.ascending:after {
    font-size: 60%;
    content: '\25B2';
    float: left;
    padding: 4px 5px 0 0;
}

th.descending:after {
    font-size: 60%;
    content: '\25BC';
    float: left;
    padding: 4px 5px 0 0;
}